<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ityeji.hello.boot.spring5boot.mybatis.PdsMapper"> <!--패키지이름.인터페이스이름-->
    <!-- join result -->
    <resultMap id="pa" type="PdsAttach">
        <result column="fname" property="fname"/>
        <result column="ftype" property="ftype"/>
        <result column="fsize" property="fsize"/>
        <result column="fdown" property="fdown"/>
    </resultMap>
    <resultMap id="ppa" type="Pds">
        <result column="pno" property="pno"/>
        <result column="title" property="title"/>
        <result column="userid" property="userid"/>
        <result column="regdate" property="regdate"/>
        <result column="thumbs" property="thumbs"/>
        <result column="views" property="views"/>
        <result column="contents" property="contents"/>
        <result column="ipaddr" property="ipaddr"/>

        <collection property="pa" resultMap="pa"/>  <!-- property는 변수이름. -->
    </resultMap>

    <insert id="insertPds" parameterType="Pds">
        insert into pds
            (title, userid, contents, ipaddr)
        values (#{title},#{userid},#{contents},#{ipaddr})
    </insert>

    <select id="lastPdsPno">
#         select AUTO_INCREMENT -1 pno from information_schema.TABLES where TABLE_NAME='pds';

        select last_insert_id() from pds limit 1,1;
    </select>

    <insert id="insertPdsAttach" parameterType="PdsAttach">
        insert into pdsattach (pno, fname, ftype, fsize)
        values (#{pno},#{fname},#{ftype},#{fsize})
    </insert>

    <select id="selectPds" resultType="Pds">
        select pno, title, userid, regdate, thumbs, views from pds order by pno desc limit #{stnum}, 25
    </select>

    <!-- pds, pdsattach를 합친 가상테이블 ppa -->
    <select id="selectOnePds" resultMap="ppa">
        select * from ppa where pno = #{pno}
    </select>

    <select id="selectCountPds">
        select ceil(count(pno)/25) cntpg from pds;
    </select>

    <!-- resultType은 클래스라 대문자. 테이블은 소문자-->
    <select id="selectOnePdsAttach" resultType="PdsAttach">
        select * from pdsattach where pno = #{pno}
    </select>

    <insert id="insertPdsComment" parameterType="PdsComment">
        insert into pdscomments (userid, comments, ref, pno)
        values (#{userid},#{comments},last_insert_id()+1,#{pno})
    </insert>

    <select id="selectPdsComment" resultType="PdsComment">
        select * from pdscomments where pno = #{pno}
        order by ref
    </select>

    <insert id="insertPdsReply" parameterType="PdsComment">
        insert into pdscomments (userid, comments, ref, pno)
        values (#{userid},#{comments},#{ref},#{pno})
    </insert>



    <!--<update id="updateViewPds">
        update pds set views=views+1 where bno = #{bno}
    </update>


    &lt;!&ndash; 동적 질의문으로 검색 기능 구현 &ndash;&gt;
    &lt;!&ndash; 단, 컬럼명이나 테이블명에는 #{}이 아닌 ${}를 사용! &ndash;&gt;
    &lt;!&ndash; 변수에 값이 정해지지 않았을때 parameterMap="map"를 쓴다 &ndash;&gt;
    <select id="selectFindPds" parameterType="map" resultType="Pds">
        select bno, title, userid, regdate, thumbs, views from pds

        <if test="findtype != 'titcont'">
            where ${findtype} like concat('%', #{findkey}, '%')   &lt;!&ndash; concat() : 합치기 &ndash;&gt;
        </if>

        <if test="findtype == 'titcont'">
            where title like concat('%', #{findkey}, '%') or contents like concat('%', #{findkey}, '%')
        </if>

        order by bno desc limit #{stnum}, 25
    </select>

    &lt;!&ndash; 동적 질의문으로 검색 기능 구현2 &ndash;&gt;
    &lt;!&ndash; 단, 컬럼명이나 테이블명에는 #{}이 아닌 ${}를 사용! &ndash;&gt;
    &lt;!&ndash; 변수에 값이 정해지지 않았을때 parameterMap="map"를 쓴다 &ndash;&gt;
    <select id="countFindPds" parameterType="map">&lt;!&ndash; 결과는 자동 추론이라 resultType을 굳이 안써도됨 &ndash;&gt;
        select ceil(count(bno) / 25) cntfpg from pds

        <if test="findtype != 'titcont'">
            where ${findtype} like concat('%', #{findkey}, '%')   &lt;!&ndash; concat() : 합치기 &ndash;&gt;
        </if>

        <if test="findtype == 'titcont'">
            where title like concat('%', #{findkey}, '%') or contents like concat('%', #{findkey}, '%')
        </if>
    </select>
-->


</mapper>