<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ityeji.hello.boot.spring5boot.mybatis.PdsMapper"> <!--패키지이름.인터페이스이름-->
    <insert id="insertPds" parameterType="Pds">
        insert into pds
            (title, userid, contents, ipaddr)
        values (#{title},#{userid},#{contents},#{ipaddr})
    </insert>

    <select id="lastPdsPno">
#         select AUTO_INCREMENT -1 pno from information_schema.TABLES where TABLE_NAME='pds';

        select last_insert_id() from pds;
    </select>
<!--

    <select id="selectPds" resultType="Pds">
        select bno, title, userid, regdate, thumbs, views from pds order by bno desc limit #{stnum}, 25
    </select>

    <select id="selectOnePds" resultType="Pds">
        select * from pds where bno = #{bno}
    </select>

    <update id="updateViewPds">
        update pds set views=views+1 where bno = #{bno}
    </update>

    <select id="selectCountPds">
        select ceil(count(userid)/25) cntpg from pds;
    </select>

    &lt;!&ndash; 동적 질의문으로 검색 기능 구현 &ndash;&gt;
    &lt;!&ndash; 단, 컬럼명이나 테이블명에는 #{}이 아닌 ${}를 사용! &ndash;&gt;
    &lt;!&ndash; 변수에 값이 정해지지 않았을때 parameterMap="map"를 쓴다 &ndash;&gt;
    <select id="selectFindPds" parameterType="map" resultType="Pds">
        select bno, title, userid, regdate, thumbs, views from pds

        <if test="findtype != 'titcont'">
            where ${findtype} like concat('%', #{findkey}, '%')   &lt;!&ndash; concat() : 합치기 &ndash;&gt;
        </if>

        <if test="findtype == 'titcont'">
            where title like concat('%', #{findkey}, '%') or contents like concat('%', #{findkey}, '%')
        </if>

        order by bno desc limit #{stnum}, 25
    </select>

    &lt;!&ndash; 동적 질의문으로 검색 기능 구현2 &ndash;&gt;
    &lt;!&ndash; 단, 컬럼명이나 테이블명에는 #{}이 아닌 ${}를 사용! &ndash;&gt;
    &lt;!&ndash; 변수에 값이 정해지지 않았을때 parameterMap="map"를 쓴다 &ndash;&gt;
    <select id="countFindPds" parameterType="map">&lt;!&ndash; 결과는 자동 추론이라 resultType을 굳이 안써도됨 &ndash;&gt;
        select ceil(count(bno) / 25) cntfpg from pds

        <if test="findtype != 'titcont'">
            where ${findtype} like concat('%', #{findkey}, '%')   &lt;!&ndash; concat() : 합치기 &ndash;&gt;
        </if>

        <if test="findtype == 'titcont'">
            where title like concat('%', #{findkey}, '%') or contents like concat('%', #{findkey}, '%')
        </if>
    </select>
-->


</mapper>