.red { color: red}
.hyphen{
    display: inline-block;
    margin: 5px 0
}

/* board */
.tbborder{border-top: 3px solid black; border-bottom: 3px solid black;}

.thbg{ background-color: #dff0d8;}
.tbborder tr {
    border-bottom: silver;
}